<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body style="background-color: #E1EFD7;">
        <div style="width: 710px; margin: auto;">
            <h2>프로필</h2>
            <div style="width: 700px; background-color: white; margin: auto; padding: 50px;">
                <img src="../8514c6f9db22e7320eb7cf08a4051cdb.jpg" style="width: 20%; height: 20%; border-radius: 50%;">
                <table>
                    <tr>
                        <td style="width: 70px;"><h4>이름</h6></td>
                        <td>강연주</td>
                    </tr>
                    <tr>
                        <td><h4>나이</h6></td>
                        <td>62세</td>
                    </tr>
                    <tr>
                        <td><h4>성별</h6></td>
                        <td>여</td>
                    </tr>
                    <tr>
                        <td><h4>지역</h6></td>
                        <td>서울특별시 성북구</td>
                    </tr>
                    <tr>
                        <td><h4>매칭횟수</h6></td>
                        <td>3회</td>
                    </tr>
                </table>
                <hr>
                <h4>희망 분야</h4>
                <div style="width: 100%;">
                    <div style="width: 70px; height: 30px; border-radius: 15px; background-color: #E1EFD7; text-align: center; padding-top: 10px; display: inline-block; margin-right: 15px;">운동</div>
                    <div style="width: 70px; height: 30px; border-radius: 15px; background-color: #E1EFD7; text-align: center; padding-top: 10px; display: inline-block; margin-right: 15px;">수공예</div>
                </div>
                <br>
                <h4 style="display: inline;">희망 금액</h4><h6 style="display: inline;"> 1시간 기준</h6><br><br>
                <div style="width: 70px; height: 30px; border-radius: 15px; background-color: #E1EFD7; text-align: center; padding-top: 10px; display: inline-block; margin-right: 15px;">무료</div>
                <br>
                <h4>가능 시간</h4>
                <div style="width: 70px; height: 30px; border-radius: 15px; background-color: #E1EFD7; text-align: center; padding-top: 10px; display: inline-block; margin-right: 15px;">협의</div>
                <br>
                <hr>
                <h4>자기소개</h4>
                <div style="background-color: #F8F8F8; border-radius: 20px; padding: 10px;">안녕하세요 저희 부모님은 어쩌구 저쩌구 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 자기소개입니다 </div>
                <h4>주의사항</h4>
                <div style="background-color: #F8F8F8; border-radius: 20px; padding: 10px;">안녕하세요 저희 부모님은 어쩌구 저쩌구 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다. 주의사항입니다.</div>
                <br>
                <hr>
                <h4>후기</h4>
                <div style="overflow-y: scroll; background-color: #F8F8F8; border-radius: 20px; padding: 15px; height: 300px;">
                    <div style="background-color: #E1EFD7; border-radius: 20px; padding: 15px; margin-bottom: 10px;">한줄후기입니다.이건한줄후기입니다.몇바이트가좋을까요?</div>
                    <div style="background-color: #E1EFD7; border-radius: 20px; padding: 15px; margin-bottom: 10px;">한줄후기입니다.이건한줄후기입니다.몇바이트가좋을까요?</div>
                    <div style="background-color: #E1EFD7; border-radius: 20px; padding: 15px; margin-bottom: 10px;">한줄후기입니다.이건한줄후기입니다.몇바이트가좋을까요?</div>
                    <div style="background-color: #E1EFD7; border-radius: 20px; padding: 15px; margin-bottom: 10px;">한줄후기입니다.이건한줄후기입니다.몇바이트가좋을까요?</div>
                    <div style="background-color: #E1EFD7; border-radius: 20px; padding: 15px; margin-bottom: 10px;">한줄후기입니다.이건한줄후기입니다.몇바이트가좋을까요?</div>
                    <div style="background-color: #E1EFD7; border-radius: 20px; padding: 15px; margin-bottom: 10px;">한줄후기입니다.이건한줄후기입니다.몇바이트가좋을까요?</div>
                </div>
                <br>
                <input type="button" value="찜하기" style="font-size: 15px; color: white; border: 0; border-radius: 15px; background-color:#2D6210; padding: 10px; display: inline-block;">
                <input type="button" value="채팅하기" style="font-size: 15px; color: white; border: 0; border-radius: 15px; background-color:#2D6210; padding: 10px; display: inline-block;">
            </div>
        </div>
    </body>
</html>
