<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>노긋노긋</title>
  <link href="/css/category.css?v=1.0" rel="stylesheet" type="text/css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
    integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f"
    crossorigin="anonymous"></script>
</head>
<body>
  <!-- HTML Content -->

  <button onclick="completeMatching(1)">매칭 완료</button>

  <script>
    function completeMatching(matchingNum) {
      fetch('/completeMatching', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ matchingNum })
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }
  </script>
</body>
</html>
