<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/header.css" type="text/css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="start-date" content="2024-05-10">
  <title>노긋노긋</title>
  <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
    integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f"
    crossorigin="anonymous"></script>
</head>

<body style="background-color: #E1EFD7;">
  <header class="header__container">
    <!-- Site H1 / display: none -->
    <h1 class="main-title">노긋노긋메인홈</h1>
      <div class="header__block">
        <a href="/Detail"> 마이페이지 </a>
        <a href="/logout"> 로그아웃 </a>
      </div>
    <div class="header_nav-main-block">
        <!-- 네비게이션에 해당하는 부분 -->
      <nav class="header__nav-block">
        <ul class="nav__list" role="navigation">
          <li class="nav__list-item">
            <a href="/main" aria-label="노긋노긋 홈페이지">
              <img src="/images/logo.png" width="50" alt="로고">
              </a>
          </li>
          <li class="nav__list-item">
            <a href="/filter"> 매칭 </a>
          </li>
          <li class="nav__list-item">
            <a href="/promiseList"> 약속 </a>
          </li>
          <li class="nav__list-item">
            <a href="/reportList"> 보고서 </a>
          </li>
        </ul>
      </nav>
    </div>
    
  </header>
  <div style="width: 710px; margin: auto;">
    <h2>프로필</h2>
   <table>
        <tr>
          <td style="width: 70px;">
            <h4>이름</h6>
          </td>
          <td>
            <%= member.name %>
          </td>
        </tr>
        <tr>
          <td>
            <h4>나이</h6>
          </td>
          <td>
            <%= member.age %>세
          </td>
        </tr>
        <tr>
          <td>
            <h4>이메일</h6>
          </td>
          <td>
            <%= member.email %>
          </td>
        </tr>
        
      </table>
      
      <input type="button" value="프로필 보기"
        style="font-size: 15px; color: white; border: 0; border-radius: 15px; background-color:#2D6210; padding: 10px; display: inline-block;" onclick="redirectTOProfile()">
      </div>
  </div>
  <script>
    function redirectTOProfile() {
      window.location.href = '/Detail/profile';
    }
  </script>
</body>

</html>