<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>보고서 상세 정보</title>
</head>

<body>
    <h1>보고서 상세 정보</h1>
    <div class="report-detail-container">
        <h2>보고서 번호: <%= report.reportNum %>
        </h2>
        <% if (report.Matching) { %>
            <p><strong>학생 이름:</strong>
                <%= report.Matching.student.studentMember.name %>
            </p>